::selection{
    background: #fb5353;
    color: #fff;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #f6f6f6;
}
header, main{
    width: 1140px;
}
main{
    margin: 0 auto;
}
.top-page{
    
    display: flex;
    gap: 20px;
    
}
.top-page-blog{
    display: flex;
    gap: 20px;
}
.titles{
    width: calc(50% - 10px);
    padding: 100px 40px 0;
    h1, h2{
        font-weight: 800;

    }
    h1{
        margin: 0;
        color: #fb5353;
        font-size: 80px;
    }
    h2, h3{
        color: #404040;
    }
    h2{
        margin: 0;
        font-size: 44px;
    }
    h3{
        line-height: 30px;
        font-weight: 400;
        font-size: 20px;
    }
}
.large-project, .small-project{
    width: calc(50% - 10px);
    a{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.article{
    width: calc(50% - 10px);
}
.large-project{
    height: 500px;
}
.small-project{
    height: 400px;
}

