.about{
    height: 1050px;
    .about-content{
        background: #fb5353;
        padding: 40px 70px;
        p{
            font-size: 16px;
            line-height: 35px;
            color: #fff;
        }
    }
}
.about{
    .gallery{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 446px;
    }
}
.portrait{
    width: calc(100% / 3 - 15px);
    position: relative;
    overflow: hidden;
    img{
        display: block;
    @include transition;
    }
    a{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    }
}
.portrait>div{
    background: #fb5353;
    text-align: center;
    color: #fff;
    width: 60%;
    height: 120px;
    padding: 18px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 2;
    @include transition;
    h2{
        margin: 13px 0 10px;
        font-size: 21px;
        font-weight: 300;
    }
    h3{
        text-transform: uppercase;
        font-size: 13px;
    }
}
.portrait:hover img{
    transform: scale(1.1);
}
.portrait:hover div{
    transform: translate(-50%, 0);
}
.portrait:hover:before{
    content: '';
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fb5353;
    z-index: 1;
    @include transition;

}
